---
layout: default
title: Home
---

<style>
.left {
    float: left;
    width: 25%;
}
.right {
    float: right;
    width: 70%;
}
img {
    max-width: 100%;
    height: auto;
}
.group:after {
    content:"";
    display: table;
    clear: both;
}
@media screen and (max-width: 480px) {
    .left, .right {
        float: none;
        width: auto;
    }
}
</style>

        <h1 class="page-title">Welcome</h1>

<br>
<div class="group">
    <div class="left">
        <img src="public/Me.JPG" alt="" border="0" width="300" />
    </div>
    <div class="right">
        <p>I am a Postdoctoral Fellow at Stanford University in the Department of Statistics mentored by <a href="http://www-stat.stanford.edu/~susan/">Susan Holmes</a>.</p>
        <p>In 2012, I obtained my PhD co-advised by <a href="http://www-sop.inria.fr/members/Xavier.Pennec/">Xavier Pennec</a> and <a href="http://www.mauricioreyes.me/">Mauricio Reyes</a> at Inria in France and University of Bern in Switzerland.</p>
        <p>I am an applied statistician working on several data science projects related to neuroimaging, self-driving cars, and microbiome.</p>
    </div>
</div>

<br>

<h2 id="contact">Contact</h2>
Christof Seiler <br>
Department of Statistics <br>
Stanford University <br>
Sequoia Hall, 390 Serra Mall <br>
Stanford, CA 94305, USA <br>
E-mail: christof dot seiler at stanford dot edu


<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
