/* Style Definitions */
/* General Formatting */

body 
{
    color: #000; background: #fff; margin: 0; padding: 0; 
    font-family: Verdana, Geneva, Arial, sans-serif;
}
html body { font-size: 9pt; }

p, td, li, ul, ol, h1, h2, h3, h4, h5, h6 
{
    line-height: 130%;
}

img       { border: 0; }	 

a:link    {color: #0000cc; text-decoration: underline; }
a:visited {color: #0000cc; text-decoration: underline; }
a:active  {color: #0000cc; text-decoration: underline; }
a:hover   {color: #0000cc; text-decoration: underline; }

/* Document Structure */
body { text-align: center; }
div#wrapper  { width: 850px; padding: 0px; text-align: left; margin: 10px auto; }
div#header   { margin: 0px 0px 10px 0px; }
div#address  { margin: 30px 20px 50px 20px; text-align: left}
div#footer   { font-size: 80%; margin: 10px; text-align: center;}
.contents { margin: 40px 10px; padding: 0px 0px; clear: both; }

/* Stucture Formatting */
#header h1 { font-size: 110%; margin: 0; padding: 0; line-height: 120%; color: #0000cc; }
#address img { float: left; margin: -2px 40px 0px 0px; }

.contents h1 { font-size: 160%; line-height 160%; color: black; 
font-weight: normal; } 
.contents h2 { font-size: 105%; padding-top: 20px; padding-bottom: 5px; font-weight: bold; margin: 0;
border-bottom: solid 1px gray; color: black; }
.contents h4 { margin: 0; font-size: 105%; padding-top: 20px; padding-bottom: 0; font-weight: bold; color: black; }
.contents p  { line-height: 1.2em; }
.contents table { margin: 0; cellpadding: 3; border: 1; }
.contents td { text-align: top; margin: 0; line-height: 1.2em; }

.contents ul { margin: 0px 0px 0px 10px; padding: 0px 0px 0px 10px;}
.contents ul li { padding-top: 6px; }
.contents ul li ul { padding-top: 0px; }
.contents ul li ul li { padding-top: 2px; }

.contents ol { margin: 0px 0px 0px 10px; padding: 0px 0px 0px 10px;}
.contents ol li { padding-top: 6px; }
.contents ol li ol { padding-top: 0px; }
.contents ol li ol li { padding-top: 2px; }

.underline { text-decoration: underline; }
